{$BOOKMARK_VAULT_DOMAIN:localhost} {
  handle /api/* {
    reverse_proxy api:26626
  }

  handle /dav/* {
    reverse_proxy api:26626
  }

  handle /health/* {
    reverse_proxy api:26626
  }

  root * /srv/admin-web
  try_files {path} /index.html
  file_server
}
